<app-nav></app-nav>
<br>
<br>
<div class="container card" style="border-block-color:black; padding-top: 10px; margin-top: 30px">
  <div class="row" >
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <img class="card-img-top" src="..." alt="Card image cap">
      <p>Imagen No Disponible</p>
    </div>
    <div class="col-md-4">
     <p>Matricula: {{alumno.Matricula}}</p>
      <p>Nombre(s): {{alumno.Nombres}}</p>
      <p>Apellidos: {{alumno.Apellido_Paterno}} {{alumno.Apellido_Materno}}</p>
      <p>Edad: {{alumno.Edad}}</p>

     
    </div>

    <br>
  </div>
  <div class="row">
    <div class="col-md-6">
    
    </div>

  </div> 
  <div class="col-md-2"></div>
</div>
